.modal, .overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay{
    background: rgba(0, 0, 0, 0.5);
}

.add-device-modal{
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: var(--space-md);
    border-radius: 18px;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.05);
}

.add-device-modal h1{
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
}

.add-device-form{
    margin-top: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-element input{
    background: var(--grey);
    width: 60%;
    padding: var(--space-s);
    border: none;
    border-radius: 5px;
    outline: none;
}

.btn-group{
    margin-top: var(--space-md);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}