.home-container{
    position: absolute;
    left: 200px;
    width: calc(100% - 200px);
}

.home-grid{
    display: flex;
}

.home-grid-left{
    flex: 8;
    padding: var(--space-l);
}

.room-section{
    padding-top: var(--space-md);
}

.room-section-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-home{
    font-size: 1.5em;
}

.home-grid-right{
    flex: 4;
    padding: var(--space-l);
}

.room-section-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}