tr{
    border-top: solid 1px var(--dark-grey);
}

td:nth-child(even){
    background-color: var(--grey);
}

td{
    padding: var(--space-xs) var(--space-md);
}

td:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.device-control{
    /* display: flex;
    align-items: center;
    gap: 10px; */
}

.device-menu{
    display: flex;
    gap: 15px;
}
.device-menu-item{
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

.edit-icon:hover{
    color: blue !important;
}

.delete-icon:hover{
    color: red !important;
}

tr:hover .device-menu-item{
    opacity: 1;
}