.gauge-title {
  font-size: 1.1em !important;
  margin-bottom: var(--space-s); /* Ensure proper spacing */
}

.gauge-container {
  position: relative;
  width: 250px;
  height: 250px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: var(--space-s);
  background: #fff;
}

.gauge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
}

.ticks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick.major span {
  position: absolute;
  top: 10px;
  font-size: 12px;
  color: #333;
}

.tick.minor::before {
  content: '';
  position: absolute;
  top: 22px;
  width: 2px;
  height: 6px;
  background-color: #838383;
}

@media (max-width: 480px) {
  .gauge-title {
    font-size: 0.9em !important;
  }

  .gauge-container {
    max-width: 150px;
    max-height: 150px;
  }

  .gauge {
    width: 75%;
    height: 75%;
  }

  .tick.major span {
    top: 5px;
    font-size: 8px;
  }

  .tick.minor::before {
    top: 14px;
    width: 1px;
    height: 4px;
  }
}
